.navbar {
 background-color: #04442c; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
 list-style: none;
 position:relative;
  margin-right: 10px; /* Add margin for spacing between items */
 
}

.navbar li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar li a {
  display: inline-flex;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar li a:hover {
  text-decoration: underline;
  background-color: #1b7a2d;
}

