 <div id= "home">
 <section id="tasker" class="section-p1">
    <div class="value-prop-container">
        <div class="text-container">
            <h2>Turahisishe ukulima pamoja</h2>
            <div class="description">Tumia bila kununua with just three easy steps </div>
            <ul>
                <li aria-label="">Create an account </li>
                <li aria-label="">Post your machinery </li>
                <li aria-label="">Get connected with thousands of other farmers who are willing to hire your machinery or let you hire theirs</li>
            </ul>
        </div>
        <figure>
            <img src= "\assets\images\8. CIMMYT-FACASI-AFR-01062017-0016-1-1-e1594318214503_0.jpg"alt="">
        </figure>
    </div>
</section>
</div>
